/* ------------------------------------------------------------------------------------------------------------------------
 * Global Styles
 ------------------------------------------------------------------------------------------------------------------------*/

.show {
    display: block;
}

.hidden {
    display: none;
}

* {
    color: white
    /*font-family*/
}