/* ------------------------------------------------------------------------------------------------------------------------
 * Button Component Styles
 ------------------------------------------------------------------------------------------------------------------------*/

 button {
    width: 100%;
    min-width: 85px;
    font-size: 16px;
    font-weight: 700; 
    background: #3366ff;
    padding: 5px 10px;
    border: none;
 }

 button:hover {
    background: #668cff;
 }

 svg {
     font-size: 14px;
     padding-right: 5px;
 }