/* ------------------------------------------------------------------------------------------------------------------------
 * Home Page Styles
 ------------------------------------------------------------------------------------------------------------------------*/

/* Containers Styles*/

#home {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.main-content {
    width: 100%; 
    transition: 0.5s;
}

.sidebar-menu {
    width: 0; 
    transition: 0.5s;
}

.menu {
    width: 100%;
    height: 60px;
    background: #1a1a1a;
}

.map {
    width: 100%;
    height: calc(100% - 60px);
    background: pink; 
}

.sidebar {
    width: 100%;
    height: 100%;
    background: black; 
    /**/
    overflow-x: hidden;
}

/* Toggle Sidebar */

.open {
    width: 350px;
    transition: 0.5s;
    z-index: 1; /*Remove*/
}

.push {
    width: calc(100% - 350px);
    transition: 0.5s;
}

/* Responsive Styles*/

@media screen and (max-width: 350px) {
    .open {
        width: 250px;
    }

    .push {
        width: calc(100% - 250px);
    }
}

@media screen and (min-width: 351px) and (max-width: 450px) {
    .open {
        width: 280px;
    }

    .push {
        width: calc(100% - 280px);
    }
}