/* ------------------------------------------------------------------------------------------------------------------------
 * Search Component Styles
 ------------------------------------------------------------------------------------------------------------------------*/

.search {
    width: 99%;  
    display: flex;
    flex-wrap: wrap;
    float: right;
}

button, 
input {
    height: 40px;
}

.search-input {
    width: 75%;
}

.search-filter {
    width: 25%;
}

@media screen and (max-width: 450px) {
    .search-input { width: 65%; }
    .search-filter { width: 35%; }
}