/* ------------------------------------------------------------------------------------------------------------------------
 * Slidebar Container Styles
 ------------------------------------------------------------------------------------------------------------------------*/

/* Search Container */
.sidebar-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    min-width: 280px;
    overflow-x: hidden;
    text-align: left;
    padding: 15px 0;
    margin: 0 0 0 30px;
    color: #e6e6e6
}

#results {
    padding: 20px 20px;
    min-width: 280px;
    overflow-x: hidden;
}